@page
@model PRN221_FinalProject_Team2.Pages.ChangePasswordAdminModel
@{
}
<section class="products section bg-gray" style="height: 100vh">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 title text-center">
                <ul class="list-group">
                    <li class="list-group-item" style="margin-left: 5%;">
                        <a href="EditProfileAdmin">Edit profile</a>
                    </li>
                    <li class="list-group-item" style="margin-left: 5%; background-color: #1bbb1b;">
                        <a href="ChangePasswordAdmin" style="color: white;">Change password</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-10 title text-center" style="margin-left: 4%;">
                <h2 class="text-center" style="font-size: 40px;">Change Password</h2>
                <p style="color:red;">@ViewData["message"]</p>
                <p style="color:green;">@ViewData["mess"]</p>
                <form method="post" class="text-left clearfix" style="margin-top: 20px; max-width: 800px; margin: auto;">
                    @*  <div class="form-group">
                    <input type="hidden" asp-for="@Model.Account.Role" /><br />
                    </div>
                    <div class="form-group">
                    <input type="hidden" asp-for="@Model.Account.Email" /><br />
                    </div>
                    <div class="form-group">
                    <input type="hidden" asp-for="@Model.Account.Employee.EmployeeId" /><br />
                    </div>
                    <div class="form-group">
                    <input type="hidden" asp-for="@Model.Account.AccountId" /><br />
                    </div>
                    <div class="form-group">
                    <input type="hidden" asp-for="@Model.Employee.EmployeeId" /><br />
                    </div>
                    <div class="form-group">
                    <input type="hidden" asp-for="@Model.Employee" /><br />
                    </div> *@

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group row" style="margin: 10px;">
                                <label class="col-sm-3 col-form-label text-right">Old Password:</label>
                                <div class="col-sm-9 input-group">
                                    <input type="password" class="form-control" name="old" id="oldPassword" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility('oldPassword')">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" style="margin: 10px;">
                                <label class="col-sm-3 col-form-label text-right">New Password:</label>
                                <div class="col-sm-9 input-group">
                                    <input type="password" class="form-control" name="new" id="newPassword" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility('newPassword')">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" style="margin: 10px;">
                                <label class="col-sm-3 col-form-label text-right">Re-password:</label>
                                <div class="col-sm-9 input-group">
                                    <input type="password" class="form-control" name="confirm" id="rePassword" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility('rePassword')">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{
                        if (TempData["msg"] != null)
                        {
                            <p><span style="color: green;">@TempData["msg"]</span></p>
                        }
                    }
                    @{
                        if (TempData["err"] != null)
                        {
                            <p><span style="color: red;">@TempData["err"]</span></p>
                        }
                    }
                    <div class="text-center" style="margin-top: 20px;">
                        <input type="submit" value="Update" class="btn btn-success" style="background-color: forestgreen; border: none; padding: 10px 20px; font-size: 16px; color: white;" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Font Awesome for eye icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- Include the JavaScript code -->
<script>
    function togglePasswordVisibility(inputId) {
        var input = document.getElementById(inputId);
        var icon = input.nextElementSibling.firstElementChild;

        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            input.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>
